.profile__info {
  max-width: 336px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 22px 0 25px 30px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin: 26px auto 36px;
  }
}

@media screen and (max-width: 580px) {
  .profile__info {
    width: 282px;
  }
}
