.popup__edit-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .popup__edit-form {
    width: 238px;
  }
}
